.div-top-home {
    height: 35vh;
}

.div-bottom-home {
    height: 56vh;
}

.input-search {
    background-color: #009688;
}

.div-search {
    margin-top: 0px !important;
    padding-top: 1px !important;
    width: 100vw;
}
