<ion-view>
    <ion-content>
        <div class="row">
            <div class="col text-center">
                <h3> Aulas Marcadas </h3>
            </div>
        </div>
        <div class="row" ng-repeat="aula in clazzCtrl.myClasses">
            <div class="col text-center">
                <div class="card">
                    <ion-toggle ng-model="aula.ativo" toggle-class="toggle-assertive">
                        Aula {{aula.type}}</ion-toggle>
                    <div class="item-divider"></div>
                    <div class="item item-text-wrap">
                        <i class="icon ion-calendar"></i> Horário: {{clazzCtrl.getDate(aula.start)}}
                        <br> Duração: {{clazzCtrl.duration(aula.end,aula.start)}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
