<ion-view>
    <ion-content>
        <div class="row row-center div-top-home input-search">
            <div class="list list-inset div-search">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="search">
                </label>
            </div>
        </div>
        <div class="row div-bottom-home div-search">
            <ion-scroll direction="y" style="width: 100vw; height: 55vh">
                <div class="list div-search" ng-repeat="autoEscola in homeCtrl.autoEscolas | filter:search track by $index">
                    <a class="item item-avatar div-search" href="#">
                        <img src="img/autoescola-default.png">
                        <h2>{{autoEscola.name}} Auto Escola</h2>
                        <p>{{autoEscola.email}}</p>
                    </a>
                    
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
