<ion-view>
    <ion-content>
        <div class="row row-center div-top-home input-search">
            <div class="list list-inset div-search">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
        </div>
        <div class="row div-bottom-home div-search">
            <ion-scroll direction="y" style="width: 100vw; height: 55vh">
                <div class="list div-search">
                    <a class="item item-avatar div-search" href="#">
                        <img src="venkman.jpg">
                        <h2>Venkman</h2>
                        <p>Back off, man. I'm a scientist.</p>
                    </a>
                    
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
