<ion-view view-title="Login" align-title="left">
    <ion-content class="background-image">
        <div class="row row-top" style="height:35vh">
            <div class="hero no-header flat">
                <div class="content padding">
                    <div class="app-icon"></div>
                </div>
            </div>
        </div>
        <div class="row row-bottom" style="height:65vh">
            <div class="col col-center col-offset-10 col-80">
                <div class="list">
                    <div class="row bottom">
                        <div class="col col-10 col-bottom">
                            <i class="icon icon-login icon-user-white"></i>
                        </div>
                        <div class="col">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">CPF</span>
                                <input ng-model="loginCtrl.user.cpf" type="text" placeholder="CPF" style="color:#FFFFFF">
                            </label>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col col-10 col-bottom">
                            <i class="icon icon-login icon-senha-white"></i>
                        </div>
                        <div class="col">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">SENHA</span>
                                <input ng-model="loginCtrl.user.password" type="password" placeholder="SENHA" style="color:#FFFFFF">
                            </label>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col col-center">
                            <button ng-click="loginCtrl.doLogin()" class="button button-block button-balanced ink"> ENTRAR
                            </button>
                            <button ng-click="loginCtrl.backHome()" class="button button-block button-assertive ink"> CANCELAR
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-center col-text-center signupStatic">
                            Não é usuário?
                            <span ui-sref="app.home" class="signup-button">Cadastre-se<span>
                        </div>
                    </div>
                </div>
    		</div>	
        </div>   
        
    </ion-content>
</ion-view>
