<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-custom nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-android-arrow-back"></i> &nbsp;&nbsp; 
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded bar-custom">
            <img src="img/autoescola-default.png" class="avatar motion spin fade">
            <div class="menu-bottom" style="bottom: -10px">
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header item-menu">
            <ion-list class="item-menu">
                <ion-item class="item-icon-left item-menu" menu-close href="#/login" ng-show="!menuCtrl.isUserLogged()">
                    <i class="icon icon-menu home-mapa"></i>
                    <span class="menu-label">Login</span>
                </ion-item>
                <ion-item class="item-icon-left item-menu" menu-close href="#/home">
                    <i class="icon icon-menu home-mapa"></i>
                    <span class="menu-label">Home</span>
                </ion-item>
                <ion-item class="item-icon-left item-menu" menu-close href="#/aulas" ng-show="menuCtrl.isUserLogged()">
                    <i class="icon icon-menu home-mapa"></i>
                    <span class="menu-label">Aulas</span>
                </ion-item>
                <ion-item class="item-icon-left item-menu" menu-close ng-click="menuCtrl.logout()" ng-show="menuCtrl.isUserLogged()">
                    <i class="icon icon-menu home-mapa"></i>
                    <span class="menu-label">Logout</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
