<ion-view view-title="Profile">
    <ion-content>
        <div class="row row-top" style="height:30vh">
            <div class="hero normalize slide-up" style="background-image: url('img/back-auto-escola.jpg');">
                <div class="content normalize">
                    <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                    <h4><a class="light">Daenerys Targaryen</a></h4>
                    
                </div>
            </div>
        </div>
        <div class="row" style="height: 10vh;">
            <div class="tabs tabs-dark tabs-icon-top static" style="position: relative">
                <a ui-sref="login" class="tab-item">
                    <i class="icon ion-person"></i> Sou Aluno
                </a>
                <a ui-sref="app.friends" class="tab-item">
                    <i class="icon ion-android-textsms"></i> Mural
                </a>
            </div>
        </div>
        <row class="row" style="height: 50vh">
            <div class="list animate-fade-slide-in-right">
                <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                    <img src="img/sansa.jpg">
                    <h2>Sansa Stark</h2>
                    <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                    <img src="img/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </row>
    </ion-content>
</ion-view>
